POSTGRES_PORT=5433
POSTGRES_DB=aitrainer
POSTGRES_USER=aitrainer
POSTGRES_PASSWORD=aitrainer_local
API_PORT=8000
CORS_ORIGINS=["http://localhost:8081","http://localhost:19006"]
AGENT_PROVIDER=demo
OLLAMA_BASE_URL=http://host.docker.internal:11434
OLLAMA_MODEL=llama3.2
